<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
  </head>
  <body>
    <h1>Home</h1>
    <p>Welcome</p>
    <form method="post" enctype="multipart/form-data">
      <p>
        <input type="file" name="avatar" />
      </p>
      <button type="submit">submit</button>
    </form>
  </body>
</html>
